.container{
    background-color:#FFDE52;
    padding: 10% 5% 2% 5%;
}

.button{
    margin-top: 30px;
    padding: 0;
    border-radius: 12px;
    width: 256px;
    height: 70px;
}

.warning{
    max-width: 500px;
    text-align: center;
}

.select{
    display: flex;
    align-items: center;
}

.select .selectOpt{
    max-width: 275px;
    margin-left: 10px;
}